* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../img/background.webp);
    background-color: #191337;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    min-height: 98.9vh;
    background-position: center;
    font-family: Lato, sans-serif;
  
  }
  
  
  
